@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/graphik-trial');
@import url(https://db.onlinewebfonts.com/c/1b3f9cb78376a36884f3908f37a42c91?family=Tiempos+Text+Regular);
:root {
  --background: #ffffff;
  --foreground: #171717;
}
*{
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Graphik Trial', sans-serif;
}
.font-graphic{
  font-family: 'Graphik Trial', sans-serif;
}
.font-tiempos{
  font-family: 'Tiempos Text Regular';
}

/* header */
.icon {
  transition: transform 0.3s ease; /* Smooth transition for the rotation */
}

.menuitem:hover .icon {
  transform: rotate(180deg); /* Rotate the icon 180 degrees on hover */
}



/* demo vedio------- */

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.hover\\:scale-x-100:hover {
  transform: scaleX(2);
}

.hero-bg{
  background-image: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0) 70%);

}